@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Frank+Ruhl+Libre:wght@300&family=Roboto+Slab:wght@300&family=Roboto:wght@100&display=swap');

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header, main {
  margin-left: 5%;
}

header {
  margin-top: 20px;
}

h1 {
  font-family: "Cabin Sketch", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: lightgreen;
  text-transform: uppercase;
  margin: 0;
}

p {
  font-family: 'Roboto';
  font-size: 1.5rem;
}
